# Summary of hyperparameters

In [39]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

import pandas as pd
from climatools.cliradlw.utils import *
from climatools.atm.absorbers import *
from climatools.lblnew.bestfit_params import *

import pprint
from IPython import display

In [40]:
MOLECULES = ('h2o', 'co2', 'o3', 'n2o', 'ch4')
BANDS = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

# Number of g-intervals

In [41]:
bgs = [(band, gas) for band, gasconcs in nongreys_byband().items() for gas, conc in gasconcs.items()]
ngs = {(band, gas): sum(kdist_params(molecule=gas, band=mapband_new2old()[band])['ng_refs']) for band, gas in bgs}

df = pd.DataFrame(index=MOLECULES, columns=BANDS)
df.index.names = ['gas']
df.columns.names = ['band']
for (band, gas), ng in ngs.items():
    df.loc[gas, band] = ng

bandtotal = df.sum(axis=1)    
gastotal = df.sum(axis=0)

df['band total'] = bandtotal
df.loc['gas total'] = gastotal
df.loc['gas total', 'band total'] = bandtotal.sum()
df['band total'] = df['band total'].apply(int)
df.fillna('', inplace=True)

df

band        1   2   3   4   5  6   7  8   9 10  11  band total
gas
h2o        12  11   8   6   5  3   3  4   7  8   5          72
co2                 9   9   9  3   3             6          39
o3                                 7                         7
n2o                 3                     4                  7
ch4                                       5                  5
gas total  12  11  20  15  14  6  13  4  16  8  11         130

In [42]:
display.HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')